<h1>create post</h1>
<form action="/add-post" method="POST">
    <input type="text" name="postTitle" placeholder="post title"><br><br><br>
    <textarea name="postBody" id="" placeholder="post body"></textarea><br>
    <input type="submit">
</form>