<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user dashboard</title>
    
</head>
<body>
    <h1>welcome <%= userName %></h1>
    <a href="/add-post">add post</a>

    <div class="posts">
        <h1>all posts</h1>
        <% posts.forEach(post => { %>
            <a href="/post/<%= post._id %>">
            <h3><%= post.postTitle %></h3>
            <p><%= post.createdBy %></p>
            </a>
        <% }) %>
    </div>
</body>
</html>